server:
  port: 8080

spring:
  application:
        name: "userservice"
  config:
    import: "optional:configserver:http://localhost:8071/"

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    liveness-state:
      enabled: true
    readiness-state:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true

jwt:
  secret-key: "ZGlnNF4lXiYqKCo0MjRnZXdnZXdma2Vmfmg4gr25fbg15"
  access-expiration-time: 3600000
  refresh-expiration-time: 604800000
